.button {

  &:hover .button__text {
    opacity: 1;
    visibility: visible;
  }

  &__holder,
  &__text {
    align-items: center;
    background-color: $light-gray;
    display: flex;
    height: 50px;
    justify-content: center;
  }

  &__holder {
    margin: 0;
    width: 50px;
    z-index: 9999;
  }

  &__text {
    font-size: 14px;
    margin: 0 -25px 0 0;
    opacity: 0;
    transition: all .5s ease-in-out;
    visibility: hidden;
    width: 185px;
    z-index: 9998;
  }
}
