.button {

  &:hover .button__text {
    visibility: visible;
    opacity: 1;
    background-color:  #cccccc;
  }

  &__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 0 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bfbfbf;
    z-index: 9999;
  }

  &__text {
    visibility: hidden;
    margin: 20px -25px 0 0;
    width: 185px;
    height: 31px;
    background-color: #bfbfbf;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    font-size: 14px;
    transition: all .5s ease-in-out;
    z-index: 9998;
    opacity: 0;
  }

}