$white: #FFF;

// Grays
$light-gray: #BFBFBF;
$gray: #808080;
$dark-gray: #737373;
$darker-gray: #454545;

// Blacks
$lighter-black: #2F2F2F;
$light-black: #292929;
$darker-black: #1E1E1E;
$black: #000;
