.cover {
  background-color: #737373;
  position: fixed;
  float: left;
  background-image: url('../assets/taina.png');
  background-repeat: no-repeat;
  z-index: 9998;
  transition: all .25s linear;
  
  @media screen and (min-width: $web) {
    width: 50%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
  }

  @media screen and (max-width: $web-up) {
    width: 100%;
    height: 250px;
    // position: relative;
    background-size: 100%;
    background-position: center;
    position: absolute;
    height: 200px;
    z-index: 9998;
  }

  @media screen and (max-width: $tablet-up){
    position: absolute;
    height: 200px;
    z-index: 9998;
    // top: 200px;
  }

  #menu {
    display: none;
  }

  &__input,
  &__button  {
    display: none;
    transition: all .25s linear;

    @media screen and (max-width: $web-up) {
      display: block;
      cursor: pointer;
    }
  }

  &__button {
    @media screen and (max-width: $web-up) {
      height: 25px;
      width: 25px;
      margin: 10px;
      cursor: pointer;
      position: fixed;
      z-index: 9999;
    }
  }

  &__input:checked ~ .cover__menu {
    @media screen and (max-width: $web-up){
      visibility: visible;
      background-color: grey;
      top: 0;
      position: fixed;
      width: 100%;
    }
  }

  &__logo {
    fill: white;
    height: 25px;
    width: 25px;
  }

  &__headline {
    display: flex;
    flex-direction: column;
    color: white;

    @media screen and (max-width: $web-up) {
      align-items: center;
      height: 100%;
      justify-content: center;
    }

    @media screen and (min-width: $tablet) {
      padding: 50px;
    }

    // @media screen and (max-width: $tablet-up) {
    //   display: none;
    // }

    // @media screen and (max-width: $mobile-up) {
    //   padding: 20px;
    // }
  }

  &__title,
  &__subtitle {
    font-family: 'Arimo', sans-serif;
  }

  &__title {
    font-size: 90px;
    margin: 0;

    @media screen and (max-width: $web-up) {
      font-size: 40px;
    }

    @media screen and (max-width: $tablet-up) {
      font-size: 30px;
    }

    @media screen and (max-width: $mobile-up) {
      font-size: 25px;
    }
  }

  &__subtitle {
    font-size: 30px;  
    padding: 50px 0;

    @media screen and (max-width: $web-up) {
      font-size: 18px;
      padding: 25px 0;
    }

    @media screen and (max-width: $tablet-up) {
      font-size: 16px;
    }
  }

  &__divider {
    text-align: left;
    margin: 0;
    width: 70px;
    border: 2px solid white;    

    @media screen and (max-width: $tablet-up) {
      border: 1px solid white;
    }
  }

  &__menu {
    font-weight: bolder;
    
    @media screen and (min-width: $web) {
      position: fixed;
      bottom: 25px;
      padding: 50px;
    }

    // @media screen and (max-width: $web-up) {
    //   position: absolute;
    //   width: 100%;
    //   font-size: 14px;
    //   bottom: 10%;
    //   display: flex;
    //   justify-content: space-evenly;
    //   padding: 15px;
      
    // }
    @media screen and (max-width: $web-up) {
      font-size: 13px;
      visibility: hidden;
      transition: all .25s linear;
      flex-direction: column;
      justify-content: space-around;
      height: 200px;
      position: fixed;
      top: -200px;
      align-items: center;
      display: flex;
    }
  }

  &__links {
    margin-right: 30px;
    color: white;

    @media screen and (max-width: $web-up) {
      margin: 0;
    }
  }
}