.error {
  background-color: #292929;
  min-height: 100%;
  padding: 75px;
  text-align: center;
  width: 100%;

  &::after {
    background-image: url('../assets/rail.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    filter: grayscale(1);
    height: 50%;
    left: 0;
    position: absolute;
    width: 100%;  
  }

  &__title {
    margin: 0;
  }
}
