*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  top: 0;
}

a,
span {
  color: white;
  font-family: 'PT Mono', monospace;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arimo', sans-serif;
  color: white;
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 30px;
}