html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  top: 0;
}

a {
  color: white;
  font-family: pt mono;
  font-weight: bold;
}

h1 {
  font-family: Lucida Grande;
  font-size: 85px;
  color: white;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Lucida Grande;
  color: white;
  font-size: 30px;

}

<<<<<<< HEAD
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  #header {
    width: 50%;
    height: 100%;
    background-color: #737373;
    position: fixed;
    float: left;
  }

  #section {
    width: 50%;
    min-height: 100%;
    float: right;
    overflow-y: scroll;
  }

.divider {
  width: 70px;
  border: 2px solid white;    
}

.box {

  padding: 25px 0;
  width: 100%;
=======
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: darkgray;
    width: 150px;
    height: 75px;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 3px 3px lightgray;
>>>>>>> master
}

.box__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 2px solid #454545;
  padding: 0 0 15px;
}

<<<<<<< HEAD
.box__image {
  transform: rotate(-90deg);
}


}
=======
// button {
//     background-color: darkgray;
//     width: 150px;
//     height: 75px;
//     color: white;
//     border-radius: 7px;
//     cursor: pointer;
// }
>>>>>>> master
