.header {
  background-color: #737373;
  position: fixed;
  float: left;
  background-image: url('../assets/taina.png');
  background-repeat: no-repeat;

  @media screen and (min-width: $web) {
    width: 50%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
  }

  @media screen and (max-width: $web-up) {
    width: 100%;
    height: 35%;
    top: 0;
    background-size: 100%;
    background-position: center;
  }

  &__headline {
    display: flex;
    flex-direction: column;
    color: white;

    @media screen and (max-width: $web-up) {
      align-items: center;
    }

    @media screen and (min-width: $tablet) {
      padding: 50px;
    }

    @media screen and (max-width: $tablet-up) {
      padding: 25px;
    }

    @media screen and (max-width: $mobile-up) {
      padding: 20px;
    }
  }

  &__title,
  &__subtitle {
    font-family: lucida grande;
  }

  &__title {
    font-size: 90px;
    margin: 0;

    @media screen and (max-width: $web-up) {
      font-size: 40px;
    }

    @media screen and (max-width: $tablet-up) {
      font-size: 30px;
    }

    @media screen and (max-width: $mobile-up) {
      font-size: 25px;
    }
  }

  &__subtitle {
    font-size: 30px;  
    padding: 50px 0;

    @media screen and (max-width: $web-up) {
      font-size: 18px;
      padding: 25px 0;
    }

    @media screen and (max-width: $tablet-up) {
      font-size: 16px;
    }
  }

  &__divider {
    text-align: left;
    margin: 0;
    width: 70px;
    border: 2px solid white;    

    @media screen and (max-width: $tablet-up) {
      border: 1px solid white;
    }
  }

  &__footer {
    font-weight: bolder;
    
    @media screen and (min-width: $web) {
      position: fixed;
      bottom: 25px;
      padding: 50px;
    }

    @media screen and (max-width: $web-up) {
      position: absolute;
      width: 100%;
      font-size: 14px;
      bottom: 10%;
      display: flex;
      justify-content: space-evenly;
      padding: 15px;
    }

    @media screen and (max-width: $tablet-up) {
      font-size: 13px;
    }
  }

  &__links {
    margin-right: 30px;
    color: white;

    @media screen and (max-width: $web-up) {
      margin: 0;
    }
  }
}