.section--lighter {
  background-color: #2F2F2F;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 581px;

  &__text {
    color: white;
    font-family: pt mono;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;

  }

  &__vector {
    position: relative;
    bottom: -27px;  
    padding: 50px;
  }

  &__icon {
    width: 60px;
    height: 60px;    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__section {
    color: white;
    padding: 70px 0;
  }
}