.section {
  width: 50%;
  min-height: 100%;
  float: right;
  overflow-y: scroll;
  z-index: 9999;
  position: relative;
  height: 100vh;

  @media screen and (max-width: $web-up) {
    top: 35%;
    width: 100%;
  }

  &__divider {
    width: 70px;
    border: 2px solid white;    
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    @media screen and ( min-width: $web-up ){
      min-height: 100vh;
    }

    @media screen and ( min-width: $mobile-up ){
      padding: 50px;
    }

    @media screen and ( max-width: $mobile ){
      padding: 40px 20px;
    }
  }

  &__block:first-of-type {

    @media screen and ( max-width: $web ){
      padding-bottom: 85px;
    }
  }

  &__block--darker {
    background-color: #1E1E1E;
  }

  &__block--lighter {
    background-color: #2F2F2F;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: 0 0 15px;
  }

  &__icon {
    width: 65px;
    min-height: 65px;    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__text {
    color: white;
    font-family: 'PT Mono', monospace;
    font-size: 16px;
    text-align: justify;

    @media screen and (min-width: $hd) {
      line-height: 40px;
    }

    @media screen and (max-width: $hd-up) {
      line-height: 28px;
    }

    @media screen and (max-width: $web-up) {
      line-height: 45px;
    }
        
    @media screen and (max-width: $tablet-up) {
      line-height: 30px;
      font-size: 12px;
    }

    @media screen and (max-width: $mobile-up) {
      line-height: 20px;
      font-size: 11px;
    }
  }

  &__vector {
    position: absolute;
    padding: 0 50px;
    bottom: 20px;
  }

  &__vector--small {
    position: unset;
    padding: 0;     
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0;
  
    @media screen and (max-width: $tablet-up) {
      font-size: 14px;
    }
  } 

  &__button {
    position: sticky;
    top: 0;
    height: 0;
    padding: 0;
    z-index: 9999;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-start;
    text-decoration: none;
  }
}
