.section {
  width: 50%;
  min-height: 100%;
  float: right;
  overflow-y: scroll;

  &--lighter,
  &--darker {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .divider {
      width: 70px;
      border: 2px solid white;    
    }
  
    .box {
      display: flex;
      flex-direction: column;
      padding: 25px 0;
    }

    .box__links {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-decoration: none;
      font-size: 18px;
      border-bottom: 2px solid #454545;
      padding: 0 0 15px;
    }

    .box__image {
      transform: rotate(-90deg);
    }
  }

  &--lighter {
    background-color: #2F2F2F;

    &__text {
      color: white;
      font-family: pt mono;
      line-height: 25px;
      font-size: 16px;
      text-align: justify;
    }

    &__vector {
      position: absolute;
      bottom: 20px;
      padding: 50px;
    }

    &__icon {
      width: 60px;
      height: 60px;    
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    &__section {
      display: flex;
      justify-content: center;
      color: white;
      padding: 70px 0;
      width: 100%;
    }

      span {
        display: flex;
        justify-content: center;
      }
  }

  &--darker {
    background-color: #1E1E1E;

    &__title {
      display: flex;
      justify-content: center;
    }
  
    &__section {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 50px;  
    }
  }

}