.section {
  position: relative;

  //Breakpoint Desktop up
  @media screen and (min-width: $web) {
    width: 50%;
    min-height: 100%;
    float: right;
    overflow-y: scroll;
    z-index: 9999;
    height: 100vh;
  }

  @media screen and (max-width: $web-up) {
    width: 100%;
    top: 200px;
  }

  &__divider {
    width: 70px;
    border: 2px solid white;    

    @media screen and (min-width: $tablet) {
      margin-bottom: 55px;
    }
    @media screen and (max-width: $tablet-up) {
      margin-bottom: 25px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    @media screen and (min-width: $web-up) {
      min-height: 100vh;
    }

    @media screen and (min-width: $mobile-up) {
      padding: 50px;
    }

    @media screen and (max-width: $mobile) {
      padding: 40px 20px;
    }
  }
  
  &__block:first-of-type {
    
    @media screen and (max-width: $web) {
      padding-bottom: 85px;
    }
    
    @media screen and (max-width: $mobile) {
      padding-bottom: 60px;
    }
  }

  &__block--darker {
    background-color: #1E1E1E;
  }

  &__block--lighter {
    background-color: #2F2F2F;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: 0 0 15px;

    @media screen and (max-width: $tablet-up) {
      font-size: 20px;
    }
  }

  &__icon {
    width: 65px;
    min-height: 65px;    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__text {
    color: white;
    font-family: 'PT Mono', monospace;
    text-align: justify;
    
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }

    @media screen and (max-width: $tablet-up) {
      font-size: 14px;
    }
  }

  &__vector {
    position: absolute;
    padding: 0 50px;
    bottom: 20px;
  }

  &__vector--small {
    position: unset;
    padding: 0;     
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding: 25px 0;
    white-space: nowrap;
  
    @media screen and (max-width: $tablet-up) {
      font-size: 14px;
    }
  } 

  &__button {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    height: 0;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  &__anchor {
    position: absolute;
    top: -100%;
  }

  &__link {
    @extend %link;
  }
}
