.section--darker {
  background-color: #1E1E1E;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;  
  }  
}

#links {
  .box {
    padding: 20px 0;
  }
}
