section#contato.section__block.section__block--lighter
  .section__icon
    svg(xmlns='http://www.w3.org/2000/svg', width='32', height='23', fill='none', viewbox='0 0 32 23')
      path(fill='#fff', d='M29.257 0H2.743C2.015 0 1.318.297.803.825A2.855 2.855 0 000 2.816v17.368c0 .747.289 1.463.803 1.991a2.707 2.707 0 001.94.825h26.514c.728 0 1.425-.297 1.94-.825A2.855 2.855 0 0032 20.184V2.816c0-.747-.289-1.463-.803-1.991A2.707 2.707 0 0029.257 0zM2.743 1.878h26.514c.243 0 .475.098.647.275a.952.952 0 01.267.663v.423L16 12.063 1.829 3.24v-.423c0-.249.096-.487.267-.663a.902.902 0 01.647-.275zm26.514 19.244H2.743a.903.903 0 01-.647-.274.952.952 0 01-.267-.664V5.444l13.714 8.497a.807.807 0 00.914 0l13.714-8.496v14.739a.952.952 0 01-.267.663.902.902 0 01-.647.275z')
  h2.section__title 
  hr.section__divider
  .section__contact
    a.section__link(href="mailto: contato@tainasilva.com.br" aria-label="Clique aqui para enviar um email") Clique aqui
    | &nbsp; &nbsp;
    span.section__text para enviar um email
