#header.cover
  input.cover__input(type="checkbox" id="menu")
  label.cover__button(for="menu")
    svg.cover__logo(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 384 384')
      path(d='M0 277.333h384V320H0zM0 170.667h384v42.667H0zM0 64h384v42.667H0z')

  .cover__headline
    h1.cover__title Tainá M. Silva
    span.cover__subtitle Arquiteta Pesquisadora
    hr.cover__divider
  nav.cover__menu
    a.cover__link(href="#curriculo" aria-label="Link da Sessão Currículo") Currículo
    a.cover__link(href="#publicacoes" aria-label="Link da Sessão Publicações") Publicações
    a.cover__link(href="#links" aria-label="Link da Sessão Links") Links
    a.cover__link(href="#contato" aria-label="Link da Sessão Contato") Contato
