section#sobre.section__block.section__block--lighter
  p.section__text Bacharel em Arquitetura e Urbanismo pela Universidade do Sagrado Coração (USC) de Bauru-SP. 
  p.section__text Mestre em Arquitetura e Urbanismo pela Faculdade de Arquitetura, Artes e Comunicação (FAAC) da Universidade Estadual Paulista (UNESP) de Bauru na linha de Teoria, História e Projeto (bolsista FAPESP Processo 2017/10302-5). Durante o mestrado, realizou estágio de pesquisa com apoio da FAPESP na École Nationale Supérieure d'Architecture, cidade de Paris, França, com supervisão da prof. Dra. Karen Bowie (BEPE Processo 2018/01711-1). 
  p.section__text Atualmente é aluna de doutorado no Programa de Pós-graduação em História da Universidade Estadual Paulista (UNESP) na linha de História e Cultura Social. Tem como recorte de estudo o século XIX e pesquisa os temas: arquitetura industrial e ferroviária, história da engenharia e tratados ferroviários - especialmente produção europeia. 
  p.section__text É também colaboradora no projeto Memória Ferroviária (FAPESP Processo 2016/15921-2), coordenado pelo prof. Dr. Eduardo Romero de Oliveira. 
  a.section__vector(href="#curriculo" aria-label="Next")
    svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', viewbox='0 0 24 24')
      path(fill='#fff', d='M2.53 9.47L0 12l12 12 12-12-2.53-2.53-7.68 7.681V0h-3.58v17.151l-7.68-7.68z')
