doctype
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='title', content="Tain치 Silva's Website")
    meta(name='description', content="Professional website")
    meta(name='image', content='https://tainasilva.com.br/assets/taina.png')
    //- Open Graph Facebook
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://tainasilva.com.br/')
    meta(property='og:title', content='Tain치 M. Silva')
    meta(property='og:description', content='Professional website')
    meta(property='og:image', content='https://tainasilva.com.br/assets/taina.png')
    //-  Twitter
    meta(property='twitter:card', content='summary_large_image')
    meta(property='twitter:url', content='https://tainasilva.com.br/')
    meta(property='twitter:title', content='Tain치 M. Silva')
    meta(property='twitter:description', content='Professional website')
    meta(property='twitter:image', content='https://tainasilva.com.br/assets/taina.png')
    link(rel="stylesheet" href="css/main.css")
    link(href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=PT+Mono&display=swap" rel="stylesheet")
    title Tain치 Silva
  body
    != yield