.container
  #header.cover
    .cover__headline
      h1.cover__title Tainá M. Silva
      span.cover__subtitle Arquiteta Pesquisadora
      hr.cover__divider
    .cover__menu
      a.cover__links(href="#curriculo") Currículo
      a.cover__links(href="#publicacoes") Publicações
      a.cover__links(href="#links") Links
      a.cover__links(href="#contato") Contato

  #section.section__block
    .section__block--lighter
      p.section__block--lighter__text Bacharel em Arquitetura e Urbanismo pela Universidade do Sagrado Coração (USC) de Bauru-SP. Mestre em Arquitetura e Urbanismo pela Faculdade de Arquitetura, Artes e Comunicação (FAAC) da Universidade Estadual Paulista (UNESP) de Bauru na linha de Teoria, História e Projeto (bolsista FAPESP Processo 2017/10302-5). Durante o mestrado, realizou estágio de pesquisa com apoio da FAPESP na École Nationale Supérieure d'Architecture, cidade de Paris, França, com supervisão da prof. Dra. Karen Bowie (BEPE Processo 2018/01711-1). 
        br
        | É colaboradora no projeto Memória Ferroviária (FAPESP Processo 2016/15921-2), coordenado pelo prof. Dr. Eduardo Romero de Oliveira.
        br
        | Tem como recorte de estudo o século XIX e se interessa pelas pesquisas na área de arquitetura industrial e ferroviária; história da engenharia; e tratados ferroviários, especialmente produção europeia.
      .section__block--lighter__vector
        svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', viewbox='0 0 24 24')
          path(fill='#fff', d='M2.53 9.47L0 12l12 12 12-12-2.53-2.53-7.68 7.681V0h-3.58v17.151l-7.68-7.68z')
  
    #curriculo.section__block--darker
      != partial("resume/_resume")

    #publicacoes.section__block--lighter
      != partial("publish/_publish")
         
    #links.section__block--darker
      != partial("links/_links")

    #contato.section__block--lighter
      .section__block--lighter__icon
        svg(xmlns='http://www.w3.org/2000/svg', width='32', height='23', fill='none', viewbox='0 0 32 23')
          path(fill='#fff', d='M29.257 0H2.743C2.015 0 1.318.297.803.825A2.855 2.855 0 000 2.816v17.368c0 .747.289 1.463.803 1.991a2.707 2.707 0 001.94.825h26.514c.728 0 1.425-.297 1.94-.825A2.855 2.855 0 0032 20.184V2.816c0-.747-.289-1.463-.803-1.991A2.707 2.707 0 0029.257 0zM2.743 1.878h26.514c.243 0 .475.098.647.275a.952.952 0 01.267.663v.423L16 12.063 1.829 3.24v-.423c0-.249.096-.487.267-.663a.902.902 0 01.647-.275zm26.514 19.244H2.743a.903.903 0 01-.647-.274.952.952 0 01-.267-.664V5.444l13.714 8.497a.807.807 0 00.914 0l13.714-8.496v14.739a.952.952 0 01-.267.663.902.902 0 01-.647.275z')
      h2.section__block--lighter__title Contato
      hr.divider
      .section__block--lighter.list
        .list__contact
          a(href= "mailto: contato@tainasilva.com.br") Clique aqui
          | &nbsp; &nbsp;
          span para enviar um email

      
